<!DOCTYPE html>
<html>
  <head>
    <title>Drinkers</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <!-- Materialize CSS Framework -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />

    <!-- JavaScript for Materialize -->

    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant&family=Exo+2:wght@900&family=Lato&family=Playfair+Display+SC:wght@400;700&family=Poiret+One&family=Yeseva+One&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <body>
      <nav>
        <div class="nav-wrapper">
          <a href="#" class="brand-logo right">Water Tracker&#128166;</a>
          <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li>
              <% if (user) { %>
              <a href="/logout"
                ><i class="material-icons left">trending_flat</i>Log Out</a
              >
              <% } else { %>
              <a href="/auth/google"
                ><i class="material-icons left">vpn_key</i>Login with Google</a
              >
              <% } %>
            </li>
          </ul>
        </div>
      </nav>
      <header>Update your water log entry!</header>
      <main>
        <form
          id="logWaterForm"
          action="/show.ejs<%=w._id%>?_method=PUT"
          method="POST"
        >
          <label>How much(ml)?</label>
          <input
            class="getBig"
            type="number"
            name="volume"
            value="<%=w.volume%>"
          />
          <label>Date:</label>
          <input
            class="getBig"
            type="datetime-local"
            name="Date"
            value="<%=w.Date"
          />
          <label>How does it feel?</label>
          <input class="getBig" type="text" name="text" value="<%=w.text%>" />
          <input class="waterFromButton" type="submit" value="Log Water" />
        </form>
      </main>
    </body>
  </head>
</html>
