<%- include('../partials/header') %>
<div>
  <% if (user) { %>
  <a href="/logout"
    ><span class="material-symbols-outlined" id="logout">vpn_key_off </span>Log
    Out</a
  >
  <% } else { %>
  <a href="/auth/google"
    ><span class="material-symbols-outlined" id="login">vpn_key</span>Login with
    Google</a
  >
  <% } %>
</div>
<!-- Add Dynamic UI form below this line -->

<div class="">
  <form action="/waters" method="POST">
    <input type="text" name="text" class="" />
    <button type="submit" class="">Add Water</button>
  </form>
</div>

<%- include('../partials/footer') %>
