<!DOCTYPE html>
<html>
  <head>
    <title>Water Tracker</title>
   
   <link href="https://fonts.googleapis.com/css2?family=Cormorant&family=Exo+2:wght@900&family=Playfair+Display+SC:wght@400;700&family=Poiret+One&family=Yeseva+One&display=swap" rel="stylesheet">
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    />
       <link rel="stylesheet" href="/stylesheets/style.css" />
    <body>
      <header>
        <img src="/images/waterdrop.png" max-width="200px" />
        <div>Water Tracker</div>
        <img src="/images/waterdrop.png" max-width="200px" />
      </header>
      <nav>
        <div class="headerRow">
          <div>
            <a href="/"><span class="material-symbols-outlined">Home</span></a>
            <a href="" class="brand-logo left">Water Drinkers</a>
          </div>
        </div>
        <div>
          <a href="/logout"
            ><span class="material-symbols-outlined" id="logout"
              >vpn_key_off </span
            >Log Out</a
          >
        </div>
      </nav>
      <form
        id="newDrinkerForm"
        action="/drinkers"
        method="POST"
      >
        <label>Name:</label>
        <input type="text" name="name" />
        <label>age:</label>
        <input type="number" name="age" min="0" max="150" />
        <label>&#129485; or &#127793;</label>
        <select name="human">
          <option value="true">&#129485</option>
          <option value="false">&#127793</option>
        </select>
        <label>Waters</label>
        <input type="submit" value="Add Drinker" />
      </form>
    </body>
  </head>
</html>
