<%- include('../partials/header') %>
<div class="headerRow">
  <% if (user) { %> <% console.log(user) %>
  <a href="/logout"
    ><span class="material-symbols-outlined" id="logout">vpn_key_off </span>Log
    Out</a
  >
  <% } else { %> <% console.log(user) %>
  <a href="/auth/google"
    ><span class="material-symbols-outlined" id="login">vpn_key</span>Login with
    Google</a
  >
  <% } %>
</div>
<%- include('../partials/footer') %>
