body {
  font-family: "Cormorant", serif;
}
nav {
  background-color: #90cfe8;
  color: white;
  font-family: "Exo 2", sans-serif;
  padding-bottom: 20px;
}
header {
  display: flex;
  flex-direction: column;
  gap: 25px;
  font-size: 50px;
  height: 120px;
  align-items: center;
  justify-content: center;
  font-family: "Yeseva One", cursive;
  color: #90cfe8;
}
#homepageDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 500px;
}
.homepage {
  gap: 25px;
  font-size: 100px;
  height: 50px;
  font-family: "Yeseva One", cursive;
  color: #62afcd;
}
#emojiRow {
  display: flex;
  flex-direction: row;
  gap: 20px;
  width: 100%;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 20px;
  padding: 15px;
}
main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/* #tableDiv {
  align-self: center;
  justify-self: center;
  align-content: center;
} */
/* .drinkDiv {} */
th {
  background-color: #90cfe8;
  color: white;
  padding: 15px;
  font-family: "Yeseva One", cursive;
  font-size: 16px;
  font-weight: bold;
  justify-self: center;
  align-self: center;
  text-align: center;
}
tr:nth-child(even) {
  background-color: #f2f2f2;
}
td {
  font-size: 14pxpx;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.deleteButton {
  font-size: 12px;
  padding: 24px;
  background-color: #90cfe8;
  color: white;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
}
.deleteWaterButton {
  font-size: 12px;
  padding: 20px;
  background-color: #90cfe8;
  color: white;
  border-radius: 30px;
  border: 1px solid #e0e0e0;
}
.drinkersTable {
  /* max-width: 90%;
  max-height: 80%; */
  padding: 30px;
  justify-self: center;
  align-self: center;
  text-align: center;
  border-bottom: 1px solid #ddd;
}
.drinkerButton {
  margin-top: 15px;
  padding: 25px;
  background-color: #90cfe8;
  font-family: "Yeseva One", cursive;
  color: white;
  border-radius: 40px;
  border: #62afcd;
}
.waterButton {
  padding: 25px;
  background-color: #62afcd;
  font-family: "Yeseva One", cursive;
  color: whitesmoke;
}

.waterFromButton {
  margin: 25px;
  padding: 25px;
  background-color: #90cfe8;
  font-family: "Yeseva One", cursive;
  color: white;
  border-radius: 40px;
  border: #62afcd;
}
#editFromButton {
  margin: 25px;
  padding: 25px;
  background-color: #90cfe8;
  font-family: "Yeseva One", cursive;
  color: white;
  border-radius: 40px;
  border: #62afcd;
}

#logWaterForm {
  padding: 30px;
  border: 1px solid #ddd;
  color: #90cfe8;
  font-size: 20px;
  margin: 30px;
}
#newDrinkerForm {
  padding: 30px;
  border: 1px solid #ddd;
  color: black;
  font-size: 30px;
  margin: 30px;
  gap: 10px;
}
.selectBigger {
  margin: 15 px;
  font-size: 30px;
}

.drinker-name {
  position: relative;
  top: -5px;
}
/*  */
.getBig {
  padding: 30px;
  border: 1px solid #ddd;
  color: #90cfe8;
  font-size: 20px;
}
input {
  padding: 10px;
}
label {
  margin: 20px;
}
.edit {
  border-radius: 40px;
  padding: 15px;
  margin: 20px;
  border: 1px solid #90cfe8;
  background-color: white;
  color: #90cfe8;
  font-family: "Cormorant", serif;
}
